# 
# Klipper configuration file for Anycubic MEGA Pro
#
# This config file contains settings of all printer pins (steppers, sensors) for Anycubic Mega Pro in the factory configuration 
# Klipper firmware should be compiled for the atmega2560
#
# Config file includes
#  - Original or 2208(2209) rotated by cabel drivers
#  - Mesh bed leveling: BLtouch (3DTouch sensor from Geeetech)
#  - Manual meshed bed leveling (commented out)
#  - 'virtual_sdcard' for fast printing without gaps
#  - Beeper through M300 gcode
#  - Pause/Resume through M600 for filament change
#
# Home position is not determined by 3DTouch. Z limit switches are used.
#
# The latest version of the config reference is also available online at:
# https://www.klipper3d.org/Config_Reference.html
# Thanks to the following users on Github for reference with their configs:
# - https://github.com/JJShankles/3d-printers/blob/master/anycubic-i3-mega-s/klipper/printer-manual_mesh.cfg
# - https://github.com/widapro/3d-printers
# - https://gist.github.com/bistory/c12a3bc4cec287776b07e1536e2137ac
# Also big thanks to LostVersionOfMe on reddit for answering my questions, regarding this printer setup with Klipper


[stepper_x]
step_pin: PF0
dir_pin: PF1
enable_pin: !PD7
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PE5
position_min: -5
position_endstop: -5
position_max: 210
homing_speed: 30.0


[stepper_y]
step_pin: PF6
dir_pin: !PF7
enable_pin: !PF2
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PL7
position_endstop: 0
position_max: 210
homing_speed: 30.0


[stepper_z]
step_pin: PL3
dir_pin: PL1
enable_pin: !PK0
microsteps: 16
rotation_distance: 8

## uncomment below for 3dtouch. comment for mannual mesh bed leveling
#endstop_pin = probe:z_virtual_endstop
## comment 2 lines below for 3dtouch bed leveling and to disable Z limit switches
endstop_pin: ^!PD3
position_endstop: 0.0

position_max: 205
homing_speed: 5.0


[stepper_z1]
step_pin: PC1
dir_pin: PC3
enable_pin: !PC7

## comment below for 3dtouch bed leveling and to disable Z limit switches
endstop_pin: ^!PL6

microsteps: 16
rotation_distance: 8


# [extruder]
# step_pin: PA4
# dir_pin: PA6
# enable_pin: !PA2

# microsteps: 16
# # from the internet
# #rotation_distance: 7.923940992
# # from https://3dprintbeginner.com/rotation-distance-calculator/ for BMG extruder
# #rotation_distance: 7.710
# # calculated from calibration
# rotation_distance: 7.556
# full_steps_per_rotation: 200
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# max_extrude_only_distance: 120.0
# max_extrude_cross_section: 5

# heater_pin: PB4
# sensor_type: ATC Semitec 104GT-2
# sensor_pin: PK5
# #control: pid
# #pid_Kp: 15.717
# #pid_Ki: 0.569
# #pid_Kd: 108.451
# min_temp: 0
# max_temp: 265
# #pressure_advance: 0.537 # Titan
# pressure_advance: 0.4644 # eSun + BMG
# #pressure_advance: 0
# #   The amount of raw filament to push into the extruder during
# #   extruder acceleration. An equal amount of filament is retracted
# #   during deceleration. It is measured in millimeters per
# #   millimeter/second. The default is 0, which disables pressure
# #   advance.
# pressure_advance_smooth_time: 0.040
# #   A time range (in seconds) to use when calculating the average
# #   extruder velocity for pressure advance. A larger value results in
# #   smoother extruder movements. This parameter may not exceed 200ms.
# #   This setting only applies if pressure_advance is non-zero. The
# #   default is 0.040 (40 milliseconds).


# [heater_fan extruder_fan]
# pin: PL5

# [heater_bed]
# heater_pin: PH5
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PK6
# #control: pid
# #pid_Kp: 74.883
# #pid_Ki: 1.809
# #pid_Kd: 775.038
# min_temp: 0
# max_temp: 110


# [fan]
# pin: PH6

[mcu]
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1600
max_accel_to_decel: 1500
max_z_velocity: 20
max_z_accel: 60
square_corner_velocity: 5


# [heater_fan stepstick_fan]
# pin: PH4

# [endstop_phase]

# [pause_resume]
# recover_velocity: 60.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s).  Default is 50.0 mm/s.

# Filament Switch Sensor.  Support for filament insert and runout detection
# using a switch sensor, such as an endstop switch.
# [filament_switch_sensor filament_sensor]
# pause_on_runout: True
# #   When set to True, a PAUSE will execute immediately after a runout
# #   is detected. Note that if pause_on_runout is False and the
# #   runout_gcode is omitted then runout detection is disabled. Default
# #   is True.
# runout_gcode:
#     M118 Filament Runout Detected
# #   A list of G-Code commands to execute after a filament runout is
# #   detected. See docs/Command_Templates.md for G-Code format. If
# #   pause_on_runout is set to True this G-Code will run after the
# #   PAUSE is complete. The default is not to run any G-Code commands.
# insert_gcode:
#     M118 Filament Load Detected
# #   A list of G-Code commands to execute after a filament insert is
# #   detected. See docs/Command_Templates.md for G-Code format. The
# #   default is not to run any G-Code commands, which disables insert
# #   detection.
# #event_delay: 3.0
# #   The minimum amount of time in seconds to delay between events.
# #   Events triggered during this time period will be silently
# #   ignored. The default is 3 seconds.
# #pause_delay: 0.5
# #   The amount of time to delay, in seconds, between the pause command
# #   dispatch and execution of the runout_gcode.  It may be useful to
# #   increase this delay if Octoprint exhibits strange pause behavior.
# #   Default is 0.5 seconds.
# switch_pin: ^!PD2
#   The pin on which the switch is connected. This parameter must be
#   provided.

# [bltouch]
# sensor_pin: ^PE4
# control_pin: PB5
# #z_offset: 1.5825
# x_offset: -1
# y_offset: -24
# samples: 2


# [safe_z_home]
# home_xy_position: 5,30
# speed: 150
# z_hop: 10
# z_hop_speed: 10


## bltouch mesh bed leveling
# bed is 210x210 and xoffset is -1 and y_offset is -24
# [bed_mesh]
# speed = 300
# horizontal_move_z = 5
# mesh_min = 29,2
# mesh_max = 200,180
# probe_count = 5,5
#fade_start = 1.0
#fade_end = 10.0
#algorithm = bicubic


#[bed_screws]
#screw1: 0, 5
#screw2: 205, 5
#screw3: 205, 205
#screw4: 0, 205

## manual mesh bed leveling
#[bed_mesh]
#speed: 50
#horizontal_move_z: 5
#mesh_min: 30,30
#mesh_max: 180,180
#probe_count: 5,5
#fade_start: 1.0
#fade_end: 10.0


# enable moving befor homing
## put in terminal:
## SET_KINEMATIC_POSITION X=100 Y=100 Z=100
## then move as usual
# [force_move]
# enable_force_move: True


# [virtual_sdcard]
# path: ~/.octoprint/uploads/

# [output_pin BEEPER_pin]
# pin: PC6
# #   Beeper pin. This parameter must be provided.
# #   ar37 is the default RAMPS/MKS pin.
# pwm: True
# #   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
# value: 0
# #   Silent at power on, set to 1 if active low.
# shutdown_value: 0
# #   Disable at emergency shutdown (no PWM would be available anyway).
# cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

# [gcode_macro M300]
# gcode:
#     # Use a default 1kHz tone if S is omitted.
#     {% set S = params.S|default(1000)|int %}
#     # Use a 10ms duration is P is omitted.
#     {% set P = params.P|default(100)|int %}
#     SET_PIN PIN=BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
#     G4 P{P}
#     SET_PIN PIN=BEEPER_pin VALUE=0


######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

# [pause_resume]

# [gcode_macro M600]
# gcode:
#     {% set X = params.X|default(50)|float %}
#     {% set Y = params.Y|default(0)|float %}
#     {% set Z = params.Z|default(10)|float %}
#     SAVE_GCODE_STATE NAME=M600_state
#     PAUSE
#     G91
#     G1 E-.8 F2700
#     G1 Z{Z}
#     G90
#     G1 X{X} Y{Y} F3000
#     G91
#     G1 E-50 F1000
#     RESTORE_GCODE_STATE NAME=M600_state


######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

# [gcode_macro PLAY_START_SOUND]
# gcode:
#     M300 S1000 P100
#     M300 S1200 P100
#     M300 S1800 P100

# [gcode_macro PLAY_END_SOUND]
# gcode:
#     M300 S1800 P100
#     M300 S1200 P100
#     M300 S1000 P100

# [gcode_macro START_PRINT]
# gcode:
#     {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
#     {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
#     # Start bed and extruder heating
#     M140 S{BED_TEMP}
#     M105 S{EXTRUDER_TEMP}
#     # Use absolute coordinates
#     G90
#     # Reset the G-Code Z offset (adjust Z offset if needed)
#     # SET_GCODE_OFFSET Z=0.0
#     # Home the printer
#     G28
#     # PLA mesh stored end of file
#     BED_MESH_PROFILE LOAD=MESH60C
#     # move to real 0,0 home
#     G1 X0 Y0 F300
#     # Move the nozzle 1cm above the bed to dont screw up melting filament around the nozzle
#     G1 Z10 F300
#     # Set and wait for nozzle to reach temperature
#     M109 S{EXTRUDER_TEMP}
#     # Wait for bed to reach temperature
#     M190 S{BED_TEMP}
#     # Move the nozzle very close to the bed
#     G1 Z0.15 F300
#     # Zero the extruded length
#     G92 E0
#     # Extrude 25mm of filament in a 5cm line
#     G1 X50 E25 F500
#     # zero the extruded length again
#     G92 E0
#     # Retract a little
#     G1 E-2 F500
#     # Quickly wipe away from the filament line
#     G1 X120 F4000
#     # Play starting sound
#     PLAY_START_SOUND

# [gcode_macro END_PRINT]
# gcode:
#     # Turn off bed, extruder, and fan
#     M140 S0
#     M104 S0
#     M106 S0
#     # Switch to relative coordinates
#     G91
#     # Move nozzle away from print while retracting
#     G1 X-2 Y-2 E-3 F300
#     # Raise nozzle by 10mm
#     G1 Z10 F3000
#     # Switch back to absolute coordinates
#     G90
#     # Disable steppers
#     M84
#     # Play end sound
#     PLAY_END_SOUND


# Overwrite unknown command with empty macro
# [gcode_macro M420]
# gcode:
#     G4 P1
    
# [gcode_macro M205]
# gcode:
#     G4 P1
    
# [gcode_macro G29]
# gcode:
#     BED_MESH_CALIBRATE


## for Measuring Resonances through Raspberry pi
## https://www.klipper3d.org/Measuring_Resonances.html

#[mcu rpi]
#serial = /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    100,100,20  # an example