# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: ^PA7
position_endstop: 0.0
position_max: 250

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[virtual_sdcard]
path: ~/printer_data/gcodes

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    M300 # beep
    G91
    G92 E0
    G1 E350 F{max_velocity} # fast-load
    G1 E25 F{speed} # purge
    M300
    M300
    RESTORE_GCODE_STATE NAME=load_state


[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    M300 # beep
    G92 E0
    G1 E25 F{speed} # purge
    G1 E-420 F{max_velocity} # fast-unload
    M300
    M300
    RESTORE_GCODE_STATE NAME=unload_state


[gcode_macro START_PRINT_PLA]
gcode:
    CLEAR_PAUSE
    
    
    M104 S205 ; start to heat E0, oozing above 185
    M140 S60 
    
[gcode_macro go_screw_1]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

  {% if printer.toolhead.homed_axes == "xyz" %}
    G1 Z15
    G1 X{printer.toolhead.axis_minimum.x+30} Y{printer.toolhead.axis_minimum.y+30} F5000
    G1 Z0 F600
    
  {% else %}
    G28
    G1 Z15
    G1 X{printer.toolhead.axis_minimum.x+30} Y{printer.toolhead.axis_minimum.y+30} F5000
    G1 Z0 F600
  {% endif %}

[gcode_macro go_screw_2]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

  {% if printer.toolhead.homed_axes == "xyz" %}
    G1 Z15
    G1 X{printer.toolhead.axis_maximum.x-30} Y{printer.toolhead.axis_minimum.y+30} F5000
    G1 Z0 F600
    
  {% else %}
    G28
    G1 Z15
    G1 X{printer.toolhead.axis_maximum.x-30} Y{printer.toolhead.axis_minimum.y+30} F5000
    G1 Z0 F600
  {% endif %}

[gcode_macro go_screw_3]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

  {% if printer.toolhead.homed_axes == "xyz" %}
    G1 Z15
    G1 X{printer.toolhead.axis_minimum.x+30} Y{printer.toolhead.axis_maximum.y-30} F5000
    G1 Z0 F600
    
  {% else %}
    G28
    G1 Z15
    G1 X{printer.toolhead.axis_minimum.x+30} Y{printer.toolhead.axis_maximum.y-30} F5000
    G1 Z0 F600
  {% endif %}

[gcode_macro go_screw_4]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=0

  {% if printer.toolhead.homed_axes == "xyz" %}
    G1 Z15
    G1 X{printer.toolhead.axis_maximum.x-30} Y{printer.toolhead.axis_maximum.y-30} F5000
    G1 Z0 F600
    
  {% else %}
    G28
    G1 Z15
    G1 X{printer.toolhead.axis_maximum.x-30} Y{printer.toolhead.axis_maximum.y-30} F5000
    G1 Z0 F600
  {% endif %}
